<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nataliaber.natiwali">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ggg"
        android:label="ComenTad"
        android:roundIcon="@drawable/ggg"
        android:supportsRtl="true"
        android:theme="@style/Theme.Natiwali"
        tools:targetApi="31">
        <activity
            android:name=".Economicas"
            android:exported="false" />
        <activity
            android:name=".Artes"
            android:exported="false" />
        <activity
            android:name=".Sociales"
            android:exported="false" />
        <activity
            android:name=".Ciencias"
            android:exported="false" />
        <activity
            android:name=".camara1"
            android:exported="false" />
        <activity
            android:name=".grupos"
            android:exported="false" />
        <activity
            android:name=".facultades"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".suscribirse"
            android:exported="false" />
        <activity
            android:name=".ingresar"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>